@model Project2.Models.Entities.Item

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Model.Price.ToString("C")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountInStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="Item" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Edit</a>

    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@
    <a asp-action="Index" class="btn btn-sm btn-default">Back to List</a>
</div>
